@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  position: relative;
  height: 100vh;
}



.background {
  /* background-color: navy; */
  background-image: url('./images/pattern-bg.png');
  grid-row: 1;
  BACKGROUND-SIZE: cover;
  background-position-x: 645px;
}

.map {
  background-color: pink;
  width: 100%;
  display: block;
  grid-row: 2;
}

.content {
  /* background-color: white; */
  width: 80%;
  position: absolute;
  left: 10%;
  top: 20px;  
}

.content h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  height: 45px;
}

.input-container input {
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  /* color: hsl(0, 0%, 59%); */
  border-radius: 10px 0 0 10px;
  border: 0;
  cursor: pointer;
}

.input-container input::placeholder{
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

.input-container .button{
  background-color: black;
  color: white;
  width: 100%;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.info-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;

}

.info-container--row {
  padding: 5px;
  text-align: center;
}

.small-content {
  color: hsl(0, 0%, 59%);
  text-transform:uppercase;
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.big-content {
  color: hsl(0, 0%, 17%);
  text-transform:uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 1px;
}