* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  position: relative;
  height: 100vh;
}

.content {
  background-color: white;
  width: 80%;
  /* height: 30%; */
  position: absolute;
  left: 10%;
  top: 20px;  
}

.background {
  background-color: navy;
  grid-row: 1;
}

.map {
  background-color: pink;
  width: 100%;
  display: block;
  grid-row: 2;
}